In [2]:
# Write a program to accept percentage from the user and display the grade according to the following criteria:
# Marks Grade 
#'>' 90    A
# '>'80 and <=90 B
# >=60 and <=80 C 
# below 60 D"""

In [8]:
total_percent=int (input("enter the percentage"))
if total_percent > 90 and total_percent <=100:
    print("grade A")
elif total_percent > 80 and total_percent <= 90:
    print("grade B")
elif total_percent >=60 and total_percent <= 80:
    print("grade C")
elif total_percent < 60:
    print("grade D")
else:
    print("enter less than or equal to 100")

enter the percentage 81

grade B

In [9]:
# Write a program to accept the cost priceof a bike and display the road tax to be
#paid according to the following criteria:
# Tax  Cost Price(in Rs)
# 15%  >100000
# 10%  >50000 and <= 100000
# 5%   <= 50000

In [12]:
bike_price=int(input("enter the cost price of bike"))
if bike_price > 100000:
    print("tax is", bike_price*.15)
elif bike_price>50000 and bike_price<=100000:
    print("tax is", bike_price*.1)
else:
    print("tax is", bike_price*.05)

enter the cost price of bike 4000

tax is 200.0

In [1]:
# Accept anycity from the user and display monuments of that city.
# City   Monument 
# Delhi  Red Fort
# Agra   Taj Mahal
# Jaipur Jal Mahal

In [3]:
city=input("enter the name of the city")
if city== "delhi":
    print("red fort")
elif city=="agra":
    print ("taj mahal")
elif city=="jaipur":
    print("jal mahal")
else:
    print("enter the name either delhi, agra , jaipur")

enter the name of the city 4

enter the name either delhi, agra , jaipur

In [4]:
# Check how many times a given number can be divided by 3 before it is lesst h a nor equal to 10.

In [7]:
num=int(input("enter the number"))
count=0
while num>10:
    num=num/3
    count=count+1
print(count)

enter the number 300

4

In [ ]:
# Why and When to Usewhile Loop in Python give a detailed description with example

Python while loop is used to run a block code until a certain condition is met.
A while loop evaluates the condition
If the condition evaluates to True, the code inside the while loop is executed.
condition is evaluated again.
This process continues until the condition is False.
When condition evaluates to False, the loop stops.

In [1]:

# example
i = 1
n = 5


while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

In [2]:
# Use nested while loop to print 3 different pattern.

In [3]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows :  6

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [4]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  5

* * * * *
* * * *
* * *
* *
*

In [5]:
n = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows :  5

  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15

In [8]:
# Reverse a while loop to display numbers from 10 to 1.